@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}
/* *********************/
/* seccion I N I C I O */
/* *********************/

#inicio {
    background: linear-gradient( rgba(0, 0, 0, .7), rgba(0, 0, 0, .7));
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

#inicio .contenido header {
    background-color: rgba(0, 0, 0, .8);
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header {
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1 {
    text-align: center;
    color: #48b7eb;
}

#inicio .contenido header .contenido-header nav ul {
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a {
    text-decoration: none;
    color: #fff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5s;
}

#inicio .contenido header .contenido-header nav ul li a:hover {
    color: #48b7eb;
}

#inicio .contenido header .contenido-header .redes a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin-left: 10px;
    transition: .5s;
}

#inicio .contenido header .contenido-header .redes a:hover {
    color: #48b7eb;
}

#inicio .contenido header .contenido-header .seleccionado {
    color: #48b7eb;
}

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 100vh;
    margin: auto;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    position: relative;
    z-index: 2;
}

#inicio .contenido .presentacion .bienvenida {
    font-size: 120px;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 5px;
    
}

#inicio .contenido .ntacion h2 {
    font-size: 55px;
    margin-bottom: 35px;
    text-align: center;
}

#inicio .contenido .presentacion h2 span {
    font-size: 55px;
    color: #3d08ce;
}

#inicio .contenido .presentacion .descripcion {
    max-width: 700px;
    margin: 25px auto;
    font-size: 40px;
    text-align: center;
}

#inicio .contenido .presentacion a {
    text-decoration: none;
    display: inline-block;
    margin: 25px;
    padding: 20px 25px;
    border: 2px solid #fff;
    border-radius: 50px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
}

#inicio .contenido .presentacion a:hover {
    background-color: #080bc5;
}

#icono-nav {
    color: #e43f3f;
    display: none;
}

header{
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
}



video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit:  cover;
    
}

.capa {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1c1c1d;
    opacity: 0.5;
    mix-blend-mode: overlay;
}

.absolute{
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    position: absolute;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items:center;
}

h1{
    font-size: 80px;
    font-weight: 900;
    z-index: 100;
    color:#fff;
    margin-bottom: 30px;
}

h1::after{
    display: block;
    width: 30%;
    height: 10px;
    content: "";
    margin: auto;
    background: #fff;
}

.overlay{
    width: 200%;
    height: 200%;
    position: absolute;
    background: rgba(0, 0, 0, 0.575);
}

@media screen and (max-width: 800px){
    h1{
        font-size: 50px;
    }
}

@media screen and (max-width: 500px){
    h1{
        font-size: 30px;
        margin-bottom: 0;
    }

    h1::after{
        display: none;
    }
}


/* *********************/
/* seccion N O S O T R O S */
/* *********************/

#sobremi {
    max-width: 1100px;
    margin: auto;
    padding: 100px 15px;
    color: #111135;
    display: flex;
}

.logo img {
    width: 215px;
}

body {
    font-family: oswald, helvetica, arial, sans-serif;
    background:url(fondo-inicio.jpg), #000;
    background-size: cover;
    background-attachment:fixed;
    
}


#sobremi .sobremi a {
    display: inline-block;
    text-decoration: none;
    color: #000;
    border-radius: 30px;
    border: 1px solid #000;
    padding: 10px 20px;
    margin-top: 30px;
    transition: .5s;
}

#sobremi .sobremi a:hover {
    background-color: #ff5080;
    color: #fff;
}

.capa2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121213;
    opacity: 0.8;
    mix-blend-mode: overlay;      
}
/* *********************/
/* seccion P R O Y E C T O S  */
/* *********************/


/* *********************/
/* seccion S K I L L S */
/* *********************/

.contenedor-skills {
    background: linear-gradient( #eb5a5acc, rgba(33, 16, 16, 0.8)), url("img/fondo-skills.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    background-position: center center;
    padding: 100px 0;
    text-align: center;
    
}

.contenedor-skills .skill {
    max-width: 600px;
    margin: 30px auto;
}

.contenedor-skills .skill .info {
    display: flex;
    justify-content: space-between;
}

.contenedor-skills .skill .lista {
    display: inline-block;
    margin-right: 20px;
    height: 10px;
    width: 10px;
    background-color: #fff;
}

.contenedor-skills .skill .barra {
    background-color: #919191;
    width: 100%;
    height: 6px;
    margin: 10px 0px;
}

.contenedor-skills .skill .barra .barra-progreso1 {
    background-color: #fff;
    width: 95%;
    height: 6px;
    animation: progreso1 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso2 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso2 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso3 {
    background-color: #fff;
    width: 90%;
    height: 6px;
    animation: progreso3 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso4 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}

.contenedor-skills .skill .barra .barra-progreso5 {
    background-color: #fff;
    width: 85%;
    height: 6px;
    animation: progreso4 2s forwards;
}

@keyframes progreso1 {
    0% {
        width: 0;
    }
    100% {
        width: 95%;
    }
}

@keyframes progreso2 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progreso3 {
    0% {
        width: 0;
    }
    100% {
        width: 90%;
    }
}

@keyframes progreso4 {
    0% {
        width: 0;
    }
    100% {
        width: 85%;
    }
}
/* *********************/
/* seccion S E R V I C I OS */
/* *********************/
.menu > li > a{
    
    padding: 15px 20px;
    color: #353535;
    font-family: oswald, helvetica, arial, sans-serif;
    text-decoration: none;
}

.menu li a:hover{
    color: #CE7D35;
    transition: all .3s;
}

/* Submenu*/

.submenu{
    position: absolute;
    background: #333333;
    width: 50%;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;

    
}

.submenu li a{
    display: block;
    padding: 10px;
    color: #fff;
    font-family: oswald, helvetica, arial, sans-serif;
    text-decoration: none;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

.dropdown {
    display: inline-block;
    position: relative;
  }
  .dropdown-content {
    display: none;
   
    width: 100%;
    
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown-content a {
    display: block;
    color: #000000;
    padding: 5px;
    text-decoration: none;
  }
  .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
  }






/* *********************/
/* seccion C O N T A C T O */
/* *********************/

#contacto {
    padding: 100px 15px;
    background-color: #f3f3f3;
}

#contacto .titulo-seccion {
    margin-bottom: 20px;
}

#contacto .contenedor-form {
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila {
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad {
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea {
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid #919191;
}

#contacto .contenedor-form .mitad input {
    width: 48%;
}

#contacto .contenedor-form .input-full {
    width: 100%;
}

#contacto .titulo-seccion {
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #111135;
    text-decoration: underline;
    text-decoration-color: #d3d3d3;
    text-decoration-thickness: 5px;
}

#contacto .btn-enviar {
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px !important;
}

#contacto .btn-enviar:hover {
    background-color: #ff5080;
    color: #fff;
}
/* *********************/
/* seccion F O O T E R */
/* *********************/

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 30px 0;
}

footer a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 5px;
    font-size: 26px;
}
/* *********************/
/* seccion R E S P O N S I V E */
/* *********************/

@media screen and (max-width: 800px) {
   
    nav {
        display: none;
    }
    nav.responsive {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;
    }

    #inicio .contenido .contenido-header  .submenu {
        display: block;
        background-color: rgba(0, 0, 0, .8);
        width: 100%;
        position: absolute;
        top: 48px;
        left: 0;
        padding: 10px 0;

    }
    #icono-nav {
        display: block;
    }
    #inicio .contenido .presentacion h2 {
        font-size: 20px;
    }

    #inicio .contenido .presentacion .bienvenida {
        font-size: 50px;
    }
    /* seccion SOBRE MI */
    #sobremi {
        padding: 50px 0;
        display: block;
    }
    #sobremi .contenedor-foto {
        max-width: 200px;
        margin: auto;
    }
    #sobremi .contenedor-foto img {
        padding: 8px;
    }
    #sobremi .sobremi .titulo-seccion {
        text-align: center;
    }
    #sobremi .sobremi h2 {
        font-size: 25px;
        text-align: center;
    }
    
   
    /* seccion HABLIDADES MI */
    .contenedor-skills {
        padding: 50px 20px;
    }
    /* seccion PORTFOLIO */
    #portfolio {
        padding: 50px 0;
    }
    #portfolio .fila {
        display: block;
    }
    #portfolio .fila .proyecto {
        margin: 10px auto;
    }
    /* seccion CONTACTO */
    #contacto {
        padding: 50px 15px;
    }
    #contacto .contenedor-form .mitad {
        margin-bottom: 15px;
        display: block;
    }
    #contacto .contenedor-form .mitad input {
        width: 100%;
        margin-bottom: 15px;
    }

    .video {
        width:100%;
        max-width:600px
    }
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #1f2222;
}

.title{
    text-align: center;
    margin-top: 80px;
    font-family: sans-serif;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}

.container__slider{
    max-width: 1000px;
    height: 500px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
}

input[type=radio]{
    display: none;
}

.container{
    width: 100%;
    max-width: 800px;
    height: 100%;
    max-height: 600px;
    transform-style: preserve-3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    position: relative;
    width: 100%;
    height: 100%;
}

.card{
    position: absolute;
    width: 60%;
    height: 100%;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
}

img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    -o-object-fit: cover;
    object-fit: cover;
}


#item-2:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-3,
#item-3:checked ~ .cards #selector-2{
    transform: translateX(-40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-3:checked ~ .cards #selector-1,
#item-1:checked ~ .cards #selector-2,
#item-2:checked ~ .cards #selector-3{
    transform: translateX(40%) scale(0.8);
    opacity: 0.6;
    z-index: 0;
}

#item-1:checked ~ .cards #selector-1,
#item-2:checked ~ .cards #selector-2,
#item-3:checked ~ .cards #selector-3{
    transform: translateX(0) scale(1);
    z-index: 1;
}







